.tours {

    padding-top: 1rem;
    padding-bottom: 1rem;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(12, [col] 1fr);
        grid-row-gap: 3rem;


        @media screen and (min-width: $break-medium) {
            grid-column-gap: 2rem;
        }
    }

    &__card {
        grid-column: span 12;

        @media screen and (min-width: $break-medium) {
            grid-column: span 6;
            border: 1px solid var(--primary-dark);
            padding: 1rem;
        }
    }

    &__card-img {
        width: 100%;
        height: 100%;
    }

    &__image-wrapper {
        position: relative;

    }

    &__banner {
        color: var(--primary-light);
        position: absolute;
        bottom: 0rem;
        left: 0;
        background-color: var(--primary-color);
        color: var(--white);
        text-transform: uppercase;
        width: 100%;
        text-align: center;
    }

    &__card-body {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat (7, auto);
        grid-template-areas: "tours__icon--group tours__details--group""tours__icon--language tours__details--language""tours__icon--duration tours__details--duration""tours__icon--time tours__details--time""tours__icon--included tours__details--included""tours__icon--meeting tours__details--meeting""tours__price tours__btn";
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;
        padding-top: 1rem;
    }

    &__icon--group {
        grid-area: tours__icon--group;
        margin: auto;
        color: var(--secondary-color)
    }

    &__details--group {
        grid-area: tours__details--group;
        margin: auto 0;
    }

    &__icon--language {
        grid-area: tours__icon--language;
        margin: auto;
        color: var(--secondary-color)
    }

    &__details--language {
        grid-area: tours__details--language;
        margin: auto 0;
    }

    &__icon--duration {
        grid-area: tours__icon--duration;
        margin: auto;
        color: var(--secondary-color)
    }

    &__details--duration {
        grid-area: tours__details--duration;
        margin: auto 0;
    }

    &__icon--time {
        grid-area: tours__icon--time;
        margin: auto;
        color: var(--secondary-color)
    }

    &__details--time {
        grid-area: tours__details--time;
        margin: auto 0;
    }

    &__icon--included {
        grid-area: tours__icon--included;
        margin: auto;
        color: var(--secondary-color)
    }

    &__details--included {
        grid-area: tours__details--included;
        margin: auto 0;
    }

    &__icon--meeting {
        grid-area: tours__icon--meeting;
        margin: auto;
        color: var(--secondary-color)
    }

    &__details--meeting {
        grid-area: tours__details--meeting;
        margin: auto 0;
    }

    &__price {
        grid-area: tours__price;
        margin: auto;
        font-weight: bold;
        color: var(--secondary-color);
        font-size: 2rem;
    }

    &__btn {
        grid-area: tours__btn;
        margin: auto;
    }
}

.text__small {
    font-size: 0.5rem;
    padding-right: 0.2rem;
    font-weight: 400;
}