.details {
    background-color: var(--primary-light);
    padding: 3rem 0;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(12, [col] 1fr);
        grid-row-gap: 3rem;
    }

    &__list {
        grid-column: span 12;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;


    }

    &__icon {
        color: var(--secondary-color);
    }

    a {
        text-decoration: none;
    }
}