.map {
    padding-top: 2rem;
    padding-bottom: 2rem;

    &__heading {
        text-align: center;
        text-transform: capitalize;
        padding-bottom: 2rem;
    }

    &__map {
        text-align: center;
    }

}

iframe {
    width: 100%;

}