.why {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: var(--primary-light);

    &__box-wrapper {
        display: grid;
        grid-template-columns: repeat(12, [col] 1fr);
        grid-row-gap: 3rem;
    }

    &__card {
        grid-column: span 12;
        display: grid;
        grid-row-gap: 1rem;
    }

    &__card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__image-wrapper {
        text-align: center;
    }

    &__card-title {
        text-transform: capitalize;
        text-align: center;
    }

    &__icon {
        color: var(--secondary-color)
    }

}